In [3]:
import numpy as np
import pandas as pd
import math

data1 = pd.read_csv('raw_data.csv')

data1 = data1.sort_values(by=['m_id'], ascending=False)[29:39].reset_index(drop=True)

print(data1)
data1

   m_id  temperature  humidity m_name  winddirection  windspeed  \
0   770          NaN       NaN    WT3         269.01       2.22
1   769          NaN       NaN    WT2         240.88       2.87
2   768          NaN       NaN    WT1         300.92       1.93
3   767          NaN       NaN    WT8         265.16       3.67
4   766          NaN       NaN    WT7         196.00       1.50
5   765          NaN       NaN    WT6         265.50       4.92
6   764          NaN       NaN    WT5         238.00       7.30
7   763          NaN       NaN    WT4         292.00       3.55
8   762          NaN       NaN    WT3         287.44       1.67
9   761          NaN       NaN    WT2         308.00       1.50

                m_date        lat         lot
0  2023-04-11 09:42:32  35.456944  129.326667
1  2023-04-11 09:42:32  35.456997  129.328217
2  2023-04-11 09:42:32  35.456703  129.328354
3  2023-04-11 09:43:38  35.456108  129.330200
4  2023-04-11 09:43:38  35.455727  129.329498
5  2023-04-11 09:43:38  35.455124  129.330612
6  2023-04-11 09:43:38  35.455120  129.330215
7  2023-04-11 09:43:38  35.455063  129.327988
8  2023-04-11 09:43:38  35.456944  129.326667
9  2023-04-11 09:43:38  35.456997  129.328217

,m_id,temperature,humidity,m_name,winddirection,windspeed,m_date,lat,lot
0,770,NaN,NaN,WT3,269.01,2.22,2023-04-11 09:42:32,35.456944,129.326667
1,769,NaN,NaN,WT2,240.88,2.87,2023-04-11 09:42:32,35.456997,129.328217
2,768,NaN,NaN,WT1,300.92,1.93,2023-04-11 09:42:32,35.456703,129.328354
3,767,NaN,NaN,WT8,265.16,3.67,2023-04-11 09:43:38,35.456108,129.330200
4,766,NaN,NaN,WT7,196.00,1.50,2023-04-11 09:43:38,35.455727,129.329498
5,765,NaN,NaN,WT6,265.50,4.92,2023-04-11 09:43:38,35.455124,129.330612
6,764,NaN,NaN,WT5,238.00,7.30,2023-04-11 09:43:38,35.455120,129.330215
7,763,NaN,NaN,WT4,292.00,3.55,2023-04-11 09:43:38,35.455063,129.327988
8,762,NaN,NaN,WT3,287.44,1.67,2023-04-11 09:43:38,35.456944,129.326667
9,761,NaN,NaN,WT2,308.00,1.50,2023-04-11 09:43:38,35.456997,129.328217

In [12]:
'''
1. Only use the data that corresponds to the top 50% windspeed within the collecting time for data modeling
'''
sorted_df = data1.sort_values('windspeed', ascending=False)
index_range = int(len(sorted_df) * 0.5)
selected_df = sorted_df[:index_range].sort_values('m_id', ascending=False).reset_index(drop=True)

selected_df

,m_id,temperature,humidity,m_name,winddirection,windspeed,m_date,lat,lot
0,769,NaN,NaN,WT2,240.88,2.87,2023-04-11 09:42:32,35.456997,129.328217
1,767,NaN,NaN,WT8,265.16,3.67,2023-04-11 09:43:38,35.456108,129.330200
2,765,NaN,NaN,WT6,265.50,4.92,2023-04-11 09:43:38,35.455124,129.330612
3,764,NaN,NaN,WT5,238.00,7.30,2023-04-11 09:43:38,35.455120,129.330215
4,763,NaN,NaN,WT4,292.00,3.55,2023-04-11 09:43:38,35.455063,129.327988

In [13]:
'''
2. Specify 8 colors (45° each) using the winddirection value
(※ When the windspeed value is 0, the winddirection value is unknown, so it is not used to count 8 colors.)
'''

def cf(data):
    for j in range(len(data)): # 10초 기준
        wd = data.loc[j, 'winddirection']
        if (data.loc[j, 'windspeed'] == 0.0):
            data.loc[j, 't_wd'] = np.NaN
            data.loc[j, '8_colors'] = 'black'
        else:
            if (337.5 <= wd <= 360 or 0 <= wd < 22.5):
                data.loc[j,'t_wd'] = 0
                data.loc[j,'8_colors'] = 'yellow'
            elif(22.5  <= wd < 67.5):
                data.loc[j, 't_wd'] = 45
                data.loc[j,'8_colors'] = 'orange'
            elif (67.5  <= wd < 112.5):
                data.loc[j, 't_wd'] = 90
                data.loc[j,'8_colors'] = 'red'
            elif (112.5 <= wd < 157.5):
                data.loc[j, 't_wd'] = 135
                data.loc[j,'8_colors'] = 'purple'
            elif (157.5 <= wd < 202.5):
                data.loc[j, 't_wd'] = 180
                data.loc[j,'8_colors'] = 'darkblue'
            elif (202.5 <= wd < 247.5):
                data.loc[j, 't_wd'] = 225
                data.loc[j,'8_colors'] = 'royalblue'
            elif (247.5 <= wd < 292.5):
                data.loc[j, 't_wd'] = 270
                data.loc[j,'8_colors'] = 'seagreen'
            elif (292.5 <= wd < 337.5):
                data.loc[j, 't_wd'] = 315
                data.loc[j,'8_colors'] = 'limegreen'
            else:
                data.loc[j, '8_colors'] = 'black'
    return data

data2 = cf(selected_df)
data2

,m_id,temperature,humidity,m_name,winddirection,windspeed,m_date,lat,lot,t_wd,8_colors
0,769,NaN,NaN,WT2,240.88,2.87,2023-04-11 09:42:32,35.456997,129.328217,225.0,royalblue
1,767,NaN,NaN,WT8,265.16,3.67,2023-04-11 09:43:38,35.456108,129.330200,270.0,seagreen
2,765,NaN,NaN,WT6,265.50,4.92,2023-04-11 09:43:38,35.455124,129.330612,270.0,seagreen
3,764,NaN,NaN,WT5,238.00,7.30,2023-04-11 09:43:38,35.455120,129.330215,225.0,royalblue
4,763,NaN,NaN,WT4,292.00,3.55,2023-04-11 09:43:38,35.455063,129.327988,270.0,seagreen

In [14]:
def vec(degree):
    # 풍향 데이터 (0도에서 360도) -> # Dữ liệu hướng gió (0 độ đến 360 độ)
    wind_directions = wd_degrees

    # 각도를 라디안으로 변환하여 벡터 합산에 사용할 수 있도록 준비 # Chuyển đổi góc thành radian để có thể sử dụng chúng cho phép tính tổng vectơ
    wind_directions_rad = [math.radians(direction) for direction in wind_directions]

    # x, y 성분의 합을 초기화 # Khởi tạo tổng thành phần x và y
    sum_x = 0
    sum_y = 0

    # 벡터 합산을 통해 x, y 성분의 합을 계산 # Tính tổng các thành phần x và y thông qua phép tính tổng vector
    for radian in wind_directions_rad:
        sum_x += math.cos(radian)
        sum_y += math.sin(radian)

    # x, y 성분의 평균을 계산 # Tính trung bình cộng của các thành phần x và y
    avg_x = sum_x / len(wind_directions)
    avg_y = sum_y / len(wind_directions)

    # 평균 풍향의 각도를 계산 # Tính góc hướng gió trung bình
    mean_wind_direction_rad = math.atan2(avg_y, avg_x)
    if mean_wind_direction_rad < 0:
        mean_wind_direction_rad += 2 * math.pi

    # 평균 풍향을 다시 도 단위로 변환 # Chuyển đổi hướng gió trung bình trở lại độ
    mean_wind_direction_deg = math.degrees(mean_wind_direction_rad)

    # return mean_wind_direction_deg
    print("mean_wind_direction_deg = ", mean_wind_direction_deg)

In [15]:
import numpy as np
import pandas as pd
import math

data1 = pd.read_csv('raw_data.csv')

data1 = data1.sort_values(by=['m_id'], ascending=False)[29:39].reset_index(drop=True)

# print(data1)
data1
'''
1. Only use the data that corresponds to the top 50% windspeed within the collecting time for data modeling
'''
sorted_df = data1.sort_values('windspeed', ascending=False)
index_range = int(len(sorted_df) * 0.5)
selected_df = sorted_df[:index_range].sort_values('m_id', ascending=False).reset_index(drop=True)

selected_df
'''
2. Specify 8 colors (45° each) using the winddirection value
(※ When the windspeed value is 0, the winddirection value is unknown, so it is not used to count 8 colors.)
'''

def cf(data):
    for j in range(len(data)): # 10초 기준
        wd = data.loc[j, 'winddirection']
        if (data.loc[j, 'windspeed'] == 0.0):
            data.loc[j, 't_wd'] = np.NaN
            data.loc[j, '8_colors'] = 'black'
        else:
            if (337.5 <= wd <= 360 or 0 <= wd < 22.5):
                data.loc[j,'t_wd'] = 0
                data.loc[j,'8_colors'] = 'yellow'
            elif(22.5  <= wd < 67.5):
                data.loc[j, 't_wd'] = 45
                data.loc[j,'8_colors'] = 'orange'
            elif (67.5  <= wd < 112.5):
                data.loc[j, 't_wd'] = 90
                data.loc[j,'8_colors'] = 'red'
            elif (112.5 <= wd < 157.5):
                data.loc[j, 't_wd'] = 135
                data.loc[j,'8_colors'] = 'purple'
            elif (157.5 <= wd < 202.5):
                data.loc[j, 't_wd'] = 180
                data.loc[j,'8_colors'] = 'darkblue'
            elif (202.5 <= wd < 247.5):
                data.loc[j, 't_wd'] = 225
                data.loc[j,'8_colors'] = 'royalblue'
            elif (247.5 <= wd < 292.5):
                data.loc[j, 't_wd'] = 270
                data.loc[j,'8_colors'] = 'seagreen'
            elif (292.5 <= wd < 337.5):
                data.loc[j, 't_wd'] = 315
                data.loc[j,'8_colors'] = 'limegreen'
            else:
                data.loc[j, '8_colors'] = 'black'
    return data

data2 = cf(selected_df)
data2
data3 = data2.copy()
# print("data3: ", data3)
#data3['winddirection'] = np.radians(data3['winddirection'])

repre = data3['t_wd'].value_counts(dropna=True, ascending=False).reset_index()
print("=========================================================")
repre.columns = ['t_wd', 'count']
print("repre.columns: ", repre.columns)

if (repre['t_wd'].count() == 0): # all windspeed data is 0.0
    avg_wd = np.NaN
    avg_ws = 0.0
else: 
    c_wd_count = []

    for i in range(len(repre)):
        max = repre.iloc[0]['count']
        if(max == repre.iloc[i]['count']):
            c_wd_count.append(repre.iloc[i]['t_wd'])

    if (len(c_wd_count) == 1): # c_wd is only one
        c_wd = c_wd_count[0]
    else: 
        compare = []

        for j in range(len(c_wd_count)):
            compare.append(data3.loc[data2['t_wd'] == c_wd_count[j]]['windspeed'].sum())
        
        max_index = np.argmax(np.array(compare))
        c_wd = c_wd_count[max_index]

    sum_wd = 0
    sum_ws = 0
    count = 0
    wd_degrees = []

    for k in range(len(data2)):
        if (abs(data3.loc[k, 't_wd'] - c_wd) <= 45):
            #sum_wd += data3.loc[k, 'winddirection']
            wd_degrees.append(data3.loc[k, 'winddirection'])
            sum_ws += data3.loc[k, 'windspeed']
            count = count + 1
    
    # 라디안으로 변환한 풍향의 평균 계산
    avg_wd = vec(wd_degrees)
    avg_ws = sum_ws / count

print("avg_wd: ", avg_wd, ", avg_ws: ", avg_ws)

'''
5. Based on the latest collecting time, store the average values, which calculated in 4), as windirection, windspeed in DB
'''

last_ct = data1.loc[0, 'm_date']
print("last_ct: ", last_ct)

=========================================================
repre.columns:  Index(['t_wd', 'count'], dtype='object')
mean_wind_direction_deg =  260.1647576282011
avg_wd:  None , avg_ws:  4.462000000000001
last_ct:  2023-04-11 09:42:32